<md-dialog add-item-dialog>
  <md-content class="md-dialog-content" layout="column">

    <h2 layout-margin  layout-align="center center" title="Aggiungi" class="md-title">Aggiungi</h2>

   <!-- <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
      <i class="material-icons">error_outline</i>
      <span>&nbsp; Tutti i campi sono obbligatori.</span>
    </p>-->

    <form autocomplete="off" layout-margin layout-align="center center" name="item.form" ng-submit="ctrl.addItem()">
      <div ng-repeat="column in columns"
           layout="row" ng-class-even="'input-row'"
           ng-if="$even">
        <md-input-container flex>
          <label>{{columns[$index].title}}</label>
          <md-select
            ng-if="columns[$index].type==='options'"
            title=""
            ng-model="items[columns[$index].model]"
            ng-hide="!columns[$index].editable"
            ng-disabled="ctrl.isDisabled(columns[$index])"
            ng-required="ctrl.isRequired(columns[$index])"
            ng-change="ctrl.isChanged(columns[$index])"
          >
            <md-option ng-value="type" ng-repeat="type in columns[$index].options">{{type}}</md-option>
          </md-select>
          <input
            ng-if="columns[$index].type==='text' || columns[$index].type==='number'"
            title=""
            name="{{columns[$index].model}}"
            type="{{columns[$index].type}}"
            ng-model="items[columns[$index].model]"
            ng-hide="!columns[$index].editable"
            ng-disabled="ctrl.isDisabled(columns[$index])"
            ng-pattern="columns[$index].pattern"
            step="{{columns[$index].step}}"
            ng-maxlength="columns[$index].maxlength" maxlength-block
            ng-required="ctrl.isRequired(columns[$index])"
            ng-change="ctrl.isChanged(columns[$index])"
          />
          <input
            ng-if="columns[$index].type==='date'"
            title=""
            today="true"
            keyboard="true"
            locale="{{columns[$index]['locale']}}"
            format="{{columns[$index]['format']}}"
            min-date="columns[$index]['_minDate']"
            max-date="columns[$index]['_maxDate']"
            autoclose="true"
            validate="true"
            moment-picker="items[columns[$index].model]"
            name="{{columns[$index].model}}"
            type="text"
            ng-model="items[columns[$index]['rawModel']]"
            ng-hide="!columns[$index].editable"
            ng-disabled="ctrl.isDisabled(columns[$index])"
            ng-pattern="columns[$index].pattern"
            ng-required="ctrl.isRequired(columns[$index])"
            ng-change="ctrl.isChanged(columns[$index])"
            ng-model-options="{ updateOn: 'blur' }"
          />
        </md-input-container>
        <md-input-container flex>
          <label>{{columns[$index+1].title}}</label>
          <md-select
            ng-if="columns[$index+1].type==='options'"
            title=""
            ng-model="items[columns[$index+1].model]"
            ng-hide="!columns[$index+1].editable"
            ng-disabled="ctrl.isDisabled(columns[$index+1])"
            ng-required="ctrl.isRequired(columns[$index+1])"
            ng-change="ctrl.isChanged(columns[$index+1])"
          >
            <md-option ng-value="type" ng-repeat="type in columns[$index+1].options">{{type}}</md-option>
          </md-select>
          <input
            ng-if="columns[$index+1].type==='text' || columns[$index+1].type==='number'"
            title=""
            validate="true"
            name="{{columns[$index+1].model}}"
            type="{{columns[$index+1].type}}"
            ng-model="items[columns[$index+1].model]"
            ng-hide="!columns[$index+1].editable"
            ng-disabled="ctrl.isDisabled(columns[$index+1])"
            ng-pattern="columns[$index+1].pattern"
            step="{{columns[$index+1].step}}"
            ng-maxlength="columns[$index+1].maxlength" maxlength-block
            ng-required="ctrl.isRequired(columns[$index+1])"
            ng-change="ctrl.isChanged(columns[$index+1])"
          />
          <input
            ng-if="columns[$index+1].type==='date'"
            title=""
            today="true"
            keyboard="true"
            locale="{{columns[$index+1]['locale']}}"
            format="{{columns[$index+1]['format']}}"
            min-date="columns[$index+1]['_minDate']"
            max-date="columns[$index+1]['_maxDate']"
            autoclose="true"
            moment-picker="items[columns[$index+1].model]"
            name="{{columns[$index+1].model}}"
            type="text"
            ng-model="items[columns[$index+1]['rawModel']]"
            ng-hide="!columns[$index+1].editable"
            ng-disabled="ctrl.isDisabled(columns[$index+1])"
            ng-pattern="columns[$index+1].pattern"
            ng-required="ctrl.isRequired(columns[$index+1])"
            ng-change="ctrl.isChanged(columns[$index+1])"
            ng-model-options="{ updateOn: 'blur' }"
          />
        </md-input-container>


      </div>
    </form>
    <div ng-if="addLoading"
         class="overlay"
         layout="row"
         layout-sm="column"
         layout-align="center center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div class="md-dialog-actions" layout-margin layout-align="center center" layout="row">
      <md-button flex="50" title="Annulla" class="md-primary" ng-click="ctrl.closeDialog()">Annulla</md-button>
      <md-button flex="50" title="Aggiungi" class="md-primary" ng-click="ctrl.addItem()" ng-disabled="item.form.$invalid">Aggiungi</md-button>
    </div>
  </md-content>
</md-dialog>
