<md-dialog add-item-dialog>
    <md-dialog-content class="md-dialog-content">

        <h2 class="md-title">Aggiungi</h2>

        <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
            <i class="material-icons">error_outline</i>
            <span>&nbsp; Tutti i campi sono obbligatori.</span>
        </p>

        <form name="item.form" ng-submit="ctrl.addItem()">

              <span ng-repeat="column in table" class="col-md-4">
                <md-input-container flex ng-if="column.type==='text'">
                    <label>{{column.title}}</label>
                    <input name="{{column.model}}" ng-model="item[column.model]" required>
                </md-input-container>

                 <md-input-container flex   ng-if="column.type==='options'"
                  <md-select ng-model="armor"

                             placeholder="Armor">
                    <md-option value="cloth">Cloth</md-option>
                    <md-option value="leather">Leather</md-option>
                    <md-option value="chain">Chainmail</md-option>
                    <md-option value="plate">Plate</md-option>
                  </md-select>
                </md-input-container>
              </span>

        </form>

    </md-dialog-content>

    <div class="md-actions">
        <md-button class="md-primary" ng-click="ctrl.addItem()" ng-disabled="item.form.$invalid">Aggiungi</md-button>
        <md-button class="md-primary" ng-click="ctrl.cancel()">Annulla</md-button>
    </div>

</md-dialog>
