<div
  sticky class="whiteBackground"
  ng-if="options.showFilters && searchParams">
  <div
    class="container">
    <h2 class="title-section" title="">Ricerca
    </h2>
  </div>
  <div class="container clearfix">
    <form
      name="myForm"
      class="form-wrapper"
      ng-submit="submit()"
      autocomplete="off">

      <div layout="row" layout-wrap>
      <div
        ng-repeat="param in searchParams"
        class="form-fieldset"
        ng-class="{'has-error':myForm[param.name].$invalid && myForm[param.name].$touched}"
        ng-messages="myForm[param.name].$error">
        <label class="form-label" title="">{{param.title}}</label>
        <input
               name="{{param.name}}"
               title=""
               ng-model="param.model"
               ng-disabled="param.disabled"
               type = "{{param.type}}"
               class="form-control"
               ng-required="isRequired()"
               minlength="{{param.minlength}}"
               maxlength="{{param.maxlength}}"/>
        <span
          ng-messages-include="app/directives/dbss-web-dataTable/html/messages.html">
        </span>
      </div>
        <div class="form-buttons">
          <input type="submit"
                 class="btn-primary"
                 value="cerca"
                 title="Cerca"
                 ng-disabled="myForm.$invalid || searchLoading">
        </div>
      </div>
    </form>
  </div>
</div>

<div ng-if="searchLoading"
     layout="row"
     layout-sm="column"
     layout-align="space-around">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-if="showTable()" ng-hide="searchLoading" class="container"><h1 title="" class="title-section">{{title}}</h1>
  <div class="container margin-bottom-40">
    <div class="wrapper-app">
      <div class="datatable-wrap margin-bottom-40" layout="column">
        <md-card>

          <ng-include
            ng-if="faToolbar"
            src="'app/directives/dbss-web-dataTable/html/faToolbar.html'">
          </ng-include>

          <md-toolbar class="md-table-toolbar md-default" title="">
            <div class="md-toolbar-tools">
              <!-- pulsante "AGGIUNGI" per aggiungere un nuovo item mediante pop-up-->
              <md-button ng-if="options.addMode" ng-hide="options.isEditing"
                         title ="Aggiungi"
                         ng-show="!options.rowSelection || !selected.length" class="md-primary"
                         ng-click="addItem(addModeType,$event,columns, addItemClbk)"
              >aggiungi
              </md-button>
              <md-button
                ng-if="options.editMode"
                ng-hide="options.isEditing"
                ng-show="!options.rowSelection || !selected.length"
                class="md-primary"
                title="Modifica"
                ng-click="enableisEditing()">
                modifica
              </md-button>
              <div class="right-position">
                <md-button class="md-icon-button" title="Filtra">
                  <i class="material-icons">search</i>
                  <!--<md-icon>search</md-icon>-->
                </md-button>
                <input class="input-search" title ="Inserisci un valore di filtro" type="text" placeholder="Inserisci un valore di filtro..." ng-model="query.filter">
              </div>
            </div>
          </md-toolbar>
          <md-toolbar class="md-table-toolbar alternate" ng-show="options.isEditing">
            <div class="md-toolbar-tools">
    <span class="label-modify">
      Desideri salvare le modifiche effettuate?
    </span>
              <md-button
                title ="Annulla"
                class="md-button btn-secondary"
                ng-click="restoreSavedItems()">
                annulla
              </md-button>

              <md-button
                title ="Salva"
                class="md-button btn-primary"
                ng-click="saveItems()"
                ng-disabled="!isItemsModified()">
                salva
              </md-button>
            </div>
          </md-toolbar>

          <md-toolbar class="md-table-toolbar alternate"
                      ng-show="options.rowSelection && selected.length">
            <div class="md-toolbar-tools">
              <span>{{selected.length}} {{selected.length > 1 ? 'record selezionati' : 'record selezionato'}}</span>


              <div
                class="right-position">
                <!--go back to details after selections -->
                <md-button
                  title ="Conferma"
                  ng-if="options.confirmSearchSelectionMode"
                  class="md-button btn-primary"
                ng-click="confirmSearchSelection(event,selected)"
                >conferma</md-button>

                <!--forward to next view (details) -->
                <md-button ng-if="options.forwardMode"
                           title ="Avanti"
                           class="md-icon-button"
                           title="Vai al dettaglio"
                           ng-disabled="options.rowSelection && selected.length>1"
                           ng-click="goToItemDetails(event,selected)"
                >
                  <!--<md-icon>forward</md-icon>-->
                  <i class="material-icons">forward</i>
                </md-button>

                <md-button ng-if="options.copyMode"
                           class="md-icon-button"
                           title="Copia"
                           ng-disabled="options.rowSelection && selected.length>1"
                           ng-click="copyItem(event, columns, selected)">
                  <md-icon>content_copy</md-icon>
                  <i class="material-icons">content_copy</i>
                </md-button>

                <md-button
                  ng-if="options.deleteMode"
                  title ="Elimina"
                  class="md-icon-button"
                  title="Elimina"
                  ng-click="deleteItem(event, selected)"
                >
                  <!--<md-icon>delete</md-icon>-->
                  <i class="material-icons">delete</i>
                </md-button>
            </div>
      </div>
          </md-toolbar>

          <md-table-container id="table-container">
            <table ng-class="{'md-table-edit-mode':options.isEditing}"
                   data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}"
                   data-ng-model="selected" md-progress="promise">
              <thead md-head md-order="query.order">
              <tr md-row>
                <th md-column md-desc  ng-repeat="column in columns"
                    md-numeric="true"
                    md-order-by="{{column.model}}"
                    ng-class="{'text-green': column.color==='green',
                               'text-orange': column.color==='orange'
                             }"
                >
                  <span>{{column.title}}</span>
                  <!--<span ng-if="column.unit">({{column.unit}})</span>-->
                </th>
              </tr>
              </thead>
              <tbody md-body>
              <tr md-row
                  md-auto-select ="options.rowSelection"
                  md-select="item"
                  md-select-id="name"
                  data-md-on-select="log"
                  md-on-deselect="deselect"
                  data-ng-repeat="item in items | filter: query.filter |
                                                  orderBy: query.sort():query.order.charAt(0) === '-'  |
                                                  limitTo: query.limit : (query.page - 1) * query.limit">


                <td ng-repeat="column in columns"
                    md-cell
                    ng-class="{'md-placeholder': !item[column.model]}"
                >
            <span ng-if="!options.isEditing && !isArray(item[column.model])">
             <span ng-if="!column.link">{{item[column.model]}}</span>
                 <button ng-if="column.link"
                         title=""
                         class="look-as-link"
                         ng-click="goToItemDetails(event,item)"
                 >
                   {{item[column.model]}}
                 </button>
            </span>
             <span ng-if="!options.isEditing && isArray(item[column.model])">
             <span ng-repeat="value in item[column.model]">
                 {{value + ($last ? '' : ',')}}
             </span>
            </span>

            <span ng-if="options.isEditing && (column.type==='text' || column.type==='number')"
                  md-cell
                  ng-class="column.editable ? 'field-editable' : 'field-disabled'"
                  ng-click="editTextField(options.isEditing && column.editable, $event, item, column)">
               {{item[column.model] || "-"}}
            </span>
                  <!-- picklist con selezione predefinita singola-->
            <span ng-if="options.isEditing && column.type==='options' && !column.multiple"
                  ng-class="column.editable ? 'field-editable' : 'field-disabled'"
            >
                  <md-select ng-model="item[column.model]"
                             class="_md-container md-container"
                             placeholder="Select"
                  >
                    <md-option ng-value="type" ng-repeat="type in column.options">{{type}}</md-option>
                  </md-select>
            </span>
                  <!-- picklist con selezione predefinita multipla-->
            <span ng-if="options.isEditing && column.type==='options' && column.multiple"
                  ng-class="column.editable ? 'field-editable' : 'field-disabled'">
                  <md-select ng-model="item[column.model]"
                             placeholder="Select"
                             class="_md-container md-container"
                             multiple>
                    <md-option ng-repeat="type in column.options" ng-value="type">{{ type }}</md-option>
                  </md-select>
            </span>
                  <!-- picklist in cui è selezionabile solo il contenuto arrivato-->
             <span ng-if="options.isEditing && column.type==='selection' && column.multiple"
                   ng-class="column.editable ? 'field-editable' : 'field-disabled'"
             >
                  <md-select ng-model="item[column.model]"
                             placeholder="Select"
                             class="_md-container md-container"
                             multiple>
                    <md-option ng-repeat="type in item[column.model]" ng-value="type">{{ type }}</md-option>
                  </md-select>
            </span>
                </td>
              </tr>
              </tbody>
            </table>
          </md-table-container>

          <md-table-pagination
                                    md-limit="query.limit"
                                    md-limit-options="limitOptions"
                                    md-page="query.page"
                                    md-total="{{items.length}}"
                                    md-on-paginate="onPaginate"
                                    md-page-select="options.pageSelect"
                                    md-boundary-links="options.boundaryLinks">
          </md-table-pagination>
        </md-card>
        <div class="clearfix margin-bottom-40"></div>
      </div>
    </div>
  </div>
</div>

<div id="scroll-anchor"></div>



