
<md-dialog add-item-dialog>
    <md-dialog-content class="md-dialog-content">

        <h2 class="md-title">Aggiungi</h2>

        <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
            <i class="material-icons">error_outline</i>
            <span>&nbsp; Tutti i campi sono obbligatori.</span>
        </p>
          <form name="item.form" ng-submit="ctrl.addItem()">
             <span ng-repeat="column in columns">
                <div layout="row" ng-class-even="'input-row'" ng-if="$even">
                  <md-input-container flex ng-if="columns[$index].type==='text'">
                    <label>{{columns[$index].title}}</label>
                    <input name="{{columns[$index].model}}" ng-model="item[columns[$index].model]" required>
                  </md-input-container>

                  <md-input-container flex ng-if="columns[$index].type==='text'">
                    <label>{{columns[$index+1].title}}</label>
                    <input name="{{columns[$index+1].model}}" ng-model="item[columns[$index+1].model]" required>
                  </md-input-container>

                  <md-input-container flex ng-if="columns[$index].type==='options'">
                    <label>{{columns[$index].title}}</label>
                    <md-select ng-model="item[columns[$index].model]">
                      <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container flex ng-if="columns[$index+1].type==='options'">
                    <label>{{columns[$index+1].title}}</label>
                    <md-select ng-model="item[columns[$index+1].model]">
                      <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </span>
          </form>
    </md-dialog-content>

    <div class="md-actions">
        <md-button class="md-primary" ng-click="ctrl.addItem()" ng-disabled="item.form.$invalid">Aggiungi</md-button>
        <md-button class="md-primary" ng-click="ctrl.cancel()">Annulla</md-button>
    </div>

</md-dialog>
