<md-dialog>
  <md-dialog-content>
    <h2 class="md-title">Conferma Eliminazione</h2>
    Confermi l'eliminazione dei record selezionati?


  <div class="md-actions">
    <md-button class="md-primary" ng-click="ctrl.confirm()">Conferma</md-button>
    <md-button class="md-primary" ng-click="ctrl.cancel()">Annulla</md-button>
  </div>
    </md-dialog-content>
  <div ng-if="ctrl.loading"
       class="overlay"
       layout="row"
       layout-sm="column"
       layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</md-dialog>
