  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <md-button  ng-repeat="button in faToolbar|filter:{align:'left'}"

                 ng-hide="button.hide()"
                 title=""
                 class="md-primary btn-toolbar"
                 ng-click="button.clbk($event)">{{button.name}}

      </md-button>
      <span flex></span>
      <md-button  ng-repeat="button in faToolbar|filter:{align:'right'}"

                  ng-hide="button.hide()"
                  title=""
                  class="md-primary btn-toolbar"
                  ng-click="button.clbk($event)">{{button.name}}
      </md-button>
      </div>
  </md-toolbar>

