<md-fab-toolbar md-open="toolbarIsOpen"
                md-direction="right">
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="menu" class="md-primary">
      <md-icon>menu</md-icon>
    </md-button>
  </md-fab-trigger>

  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
      <md-button
                 ng-repeat="button in faToolbar"
                 class="md-primary"
                 ng-click="button.clbk($event)">{{button.name}}
      </md-button>
    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>
