<!-- loader -->
<div ng-if="loading"
     class="overlay"
     layout="row"
     layout-sm="column"
     layout-align="center center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div layout="column" ng-cloak class="md-inline-form container">
        <md-content
          layout-gt-sm="row" layout-padding layout-align="center center">



          <div>
              <md-button ng-repeat="button in buttons"
                         class="groupX raised"
                         ng-class="{'left': $first, 'right': $last, 'middle': !$first && !$last}"
                         ng-click="openDialog(button)"
                         ng-disabled="buttonDisabled(button)">{{button.label}}
              </md-button>
          </div>
        </md-content>

    <md-divider></md-divider>

    <md-content layout-padding>
      <div>
      <form
        name="forms.myForm"
        ng-submit="submit()">

          <div layout-gt-sm="row"
                 ng-repeat="column in columns"
                 ng-if="$index%2===0">

              <md-input-container class="md-block" flex-gt-sm>
                <label>{{columns[$index].title}}
                  <i ng-if="columns[$index].icon" class="material-icons md-12 md-inactive">
                    {{columns[$index].icon}}
                  </i>
                </label>
                <input
                  ng-if="columns[$index].type==='text' ||columns[$index].type==='number'"
                  name="{{columns[$index].model}}"
                  type="{{columns[$index].type}}"
                  ng-model="newItem[columns[$index].model]"
                  ng-value="newItem[columns[$index].model]"
                  ng-disabled="isDisabled(columns[$index], newItem)"
                  ng-pattern="columns[$index].pattern"
                  step="{{columns[$index].step}}"
                  ng-maxlength="columns[$index].maxlength" maxlength-block
                  ng-required="isRequired(columns[$index], newItem)">
                <md-select
                  class="add-detail"
                  ng-if="columns[$index].type==='options' && !columns[$index].multiple"
                  ng-disabled="isDisabled(columns[$index], newItem)"
                  ng-required="isRequired(columns[$index], newItem)"
                  ng-model="newItem[columns[$index].model]"
                >
                  <md-option ng-value="type" ng-repeat="type in columns[$index].options">{{type}}</md-option>
                </md-select>

                <md-select
                  class="add-detail"
                  ng-if="columns[$index].type==='options' && columns[$index].multiple"
                  ng-disabled="isDisabled(columns[$index], newItem)"
                  ng-required="isRequired(columns[$index], newItem)"
                  ng-model="newItem[columns[$index].model]"
                  multiple
                >
                  <md-option ng-value="type" ng-repeat="type in columns[$index].options">{{type}}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>{{columns[$index+1].title}}
                  <i ng-if="columns[$index+1].icon"
                     class="material-icons md-12 md-inactive">
                    {{columns[$index+1].icon}}
                  </i>
                </label>
                <input
                  ng-if="columns[$index+1].type==='text' || columns[$index+1].type==='number'"
                  name="{{columns[$index+1].model}}"
                  type="{{columns[$index+1].type}}"
                  ng-model="newItem[columns[$index+1].model]"
                  ng-disabled="isDisabled(columns[$index+1], newItem)"
                  ng-pattern="columns[$index+1].pattern"
                  step="{{columns[$index+1].step}}"
                  ng-maxlength="columns[$index+1].maxlength" maxlength-block
                  ng-required="isRequired(columns[$index+1], newItem)">

                <md-select
                  ng-if="columns[$index+1].type==='options' && !columns[$index+1].multiple"
                  ng-disabled="isDisabled(columns[$index+1], newItem)"
                  ng-required="isRequired(columns[$index+1], newItem)"
                  ng-model="newItem[columns[$index+1].model]"
                >
                  <md-option ng-value="type" ng-repeat="type in columns[$index+1].options">{{type}}</md-option>
                </md-select>

                <md-select
                  ng-if="columns[$index+1].type==='options' && columns[$index+1].multiple"
                  ng-disabled="isDisabled(columns[$index+1], newItem)"
                  ng-required="isRequired(columns[$index+1], newItem)"
                  ng-model="newItem[columns[$index+1].model]"
                  multiple
                >
                  <md-option ng-value="type" ng-repeat="type in columns[$index+1].options">{{type}}</md-option>
                </md-select>
              </md-input-container>
            </div>

        <md-divider></md-divider>



        <div layout-gt-sm="row" layout-align="center center">
                <md-button
                  class="md-block md-warn" flex-gt-sm
                  ng-click="reset()"
                  ng-disabled="loading"
                >RESET
                </md-button>

                <md-button type="submit"
                           class="md-block md-primary md-ink-ripple" flex-gt-sm
                           ng-click="addCondition(newItem)"
                           ng-disabled="forms.myForm.$invalid || loading">CONFERMA
                </md-button>
        </div>
      </form>
        </div>
    </md-content>
  </div>
