<div class="container">
  <md-toolbar layout="row" class="md-table-toolbar alternate" layout-align="center center">
    <!--The left side-->
    <span ng-repeat="button in buttons">
    <md-button name="{{button.model}}"
                 class="md-primary md-hue-1"
               aria-label="{{button.model}}"
                ng-click="openDialog(button)"
    > {{button.label}}

    </md-button>
    <!--The right side-->
    </span>
  </md-toolbar>


  <form
    name="forms.myForm"
    class="form-wrapper"
    ng-submit="submit()">

      <div ng-repeat="item in items" class="container">
        <span
          flex
          class="container"
          ng-repeat="column in columns"
          ng-class="{'has-error':myForm[columns[$index].name].$error.required}"
          ng-messages="myForm[columns[$index].name].$error">
            <md-input-container
              ng-if="columns[$index].type==='text' ||columns[$index].type==='number'">
              <label>{{columns[$index].title}}</label>
              <input name="{{columns[$index].model}}"
                     type="{{columns[$index].type}}"
                     ng-model="item[columns[$index].model]"
                     ng-disabled="isDisabled(columns[$index], item)"
                     ng-pattern="columns[$index].pattern"
                     step="{{columns[$index].step}}"
                     ng-maxlength="columns[$index].maxlength"
                     ng-required="isRequired(columns[$index], item)">
            </md-input-container>

            <md-input-container class="md-block" flex ng-if="columns[$index].type==='options'">
              <label>{{columns[$index].title}}</label>
              <md-select ng-model="item[columns[$index].model]">
                <md-option ng-value="type" ng-repeat="type in columns[$index].options">{{type}}</md-option>
              </md-select>
            </md-input-container>
            <div ng-messages-include="app/templates/partials/messages.html"></div>
          </span>
   </div>

<md-content layout-padding>
    <md-grid-list
      md-cols="5"
      md-row-height="4:3"
      md-gutter="8px">

      <md-grid-tile
        md-rowspan="1"
        md-colspan="4">
        <div class="container">
          <md-button
            class="btn-primary"
            ng-click="reset()">RESET
          </md-button>
        </div>
      </md-grid-tile>

      <md-grid-tile
        md-rowspan="1"
        md-colspan="1">
        <div class="container">
          <md-button type="submit"
                     class="btn-primary"
                     ng-click="confirmed(item)"
                     ng-disabled="forms.myForm.$invalid">CONFERMA
          </md-button>
        </div>
      </md-grid-tile>
    </md-grid-list>
</md-content>

  </form>
</div>
