<div class="nav-wrap clearfix">
  <div class="container"><a href="/" class="logo-tim"><img src="../../../images/logo_tim_2016.png"></a>
    <ul class="menu-nav clearfix js-menu-nav">
      <li>
        <a href="#">PROMO
      </a>
      </li>
      <li><a href="#">PACK</a></li>
      <li class="hover_open">
        <a href="#">ATTRIBUTI WEB</a>

        <!--ng-class="{ 'active':
        model.currentState === 'Attributi CS' ||
        model.currentState === 'Attributi BF' ||
        model.currentState === 'Attributi SIM' ||
        model.currentState === 'Attributi Ricarica'}"
        -->

        <div class="sub-menu-nav">
          <ul>
            <li ng-repeat="item in model.attributes.menu">
              <a href="#" ng-click="item.onClick()">
                {{item.label}}
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
