<md-dialog class="fullscreen-dialog">
  <div class="md-dialog-actions container" layout="row">
    <md-button ng-disabled = "!selected.length"
               class="btn-primary"
               flex
               ng-click="ctrl.addItem(selected)">Aggiungi
    </md-button>
    <md-button class="btn-secondary"
               flex
               ng-click="ctrl.cancel()">Annulla
    </md-button>
  </div>
    <md-dialog-content class="md-dialog-content" layout="row">
      <dbss-web-data-table
        title = "params.title"
        columns = "params.columns"
        search-params="params.searchParams"
        options = "params.options"
        selected = "selected"
        get-items-clbk = "getWeb(promise, params)"
      >
      </dbss-web-data-table>
    </md-dialog-content>
</md-dialog>
