<div class="container"><h2 class="title-section">Ricerca</h2></div>
<div class="container clearfix">
  <form name="myForm" class="form-wrapper" ng-submit="submit()">
      <div class="form-fieldset"
           ng-class="{'has-error':myForm.nomeProdotto.$error.required}"
           ng-messages="myForm.nomeOfferta.$error">
        <label class="form-label">Nome Offerta</label>
        <input name="nomeOfferta"
               ng-model="nomeOfferta"
               type="text"
               class="form-control"
               ng-required="!nomeProdotto">
        <div ng-messages-include="app/templates/partials/messages.html"></div>
        </div>

    <div class="form-fieldset"
         ng-class="{'has-error':myForm.nomeProdotto.$error.required}"
         ng-messages="myForm.nomeProdotto.$error">
      <label class="form-label">Nome Prodotto</label>
      <input name="nomeProdotto"
             ng-model="nomeProdotto"
             type="text"
             class="form-control"
             ng-required="!nomeOfferta">
      <div ng-messages-include="app/templates/partials/messages.html"></div>
    </div>

      <div class="form-buttons">
        <input type="submit"
               class="btn-primary"
               ng-disabled="myForm.$invalid">
      </div>
  </form>
</div>

        <dbss-web-data-table
        columns = "columns"
        control = "focusinControl"
        >
        </dbss-web-data-table>
