<div class="container"><h2 class="title-section">Ricerca</h2></div>
<div class="container clearfix">
  <form name="myForm" class="form-wrapper">
      <div class="form-fieldset"
           ng-class="{'has-error':myForm.nomeProdotto.$error.required}"
           ng-messages="myForm.nomeOfferta.$error">
        <label class="form-label">Nome Offerta</label>
        <input name="nomeOfferta"
               ng-model="nomeOfferta"
               type="text"
               class="form-control"
               ng-required="!nomeProdotto">
        <div ng-messages-include="app/templates/partials/messages.html"></div>
        </div>

    <div class="form-fieldset"
         ng-class="{'has-error':myForm.nomeProdotto.$error.required}"
         ng-messages="myForm.nomeProdotto.$error">
      <label class="form-label">Nome Prodotto</label>
      <input name="nomeProdotto"
             ng-model="nomeProdotto"
             type="text"
             class="form-control"
             ng-required="!nomeOfferta">
      <div ng-messages-include="app/templates/partials/messages.html"></div>
    </div>

      <div class="form-buttons"><input type="submit" class="btn-primary"></div>
    </form>
  </form>
</div>
<div class="container"><h1 class="title-section">Attributi CS</h1></div>
<div class="container margin-bottom-40">
  <div class="wrapper-app">
    <div class="datatable-wrap" layout="column">
      <md-card>
        <!--<div ng-include="'app/templates/partials/advanced-table.html'"></div>-->
        <dbss-web-data-table
        data = "CSTable"
        >
        </dbss-web-data-table>
      </md-card>
     <!-- <br><br><br>
      <md-content layout="column">
        <div ng-include="'app/templates/partials/simple-table.html'"></div>
      </md-content>-->
    </div>
  </div>
</div>

