<!--<header>
  <div class="header-wrap">
    <div class="container">
      <ul class="top-header">
        <li><a href="#" class="ico-carrello"><i class="material-icons">person</i> Alessandra Rossi</a></li>
        <li><a href="#" class="ico-mail"><i class="material-icons">exit_to_app</i> Log out</a></li>
      </ul>
    </div>
  </div>
</header>-->
<div class="container">
  <div class="box-home-wrap"><a href="/" class="logo-tim"><img src="https://img.tim.it/img/logo_tim_2016.png"></a>

    <h1>Marketing Web Consumer - Area Amministrazione</h1>
    <ul class="list-item clearfix">
      <li>
        <div class="wrap-item">
          <a href="#" ng-click="model.promo.onClick()">
            <img src="../../images/icons/ico_promo.png">

            <p>Promo</p>
          </a>
        </div>
      </li>
      <li>
        <div class="wrap-item">
          <a href="#" ng-click="model.pack.onClick()">
            <img src="../../images/icons/ico_pack.png">

            <p>Pack</p>
          </a>
        </div>
      </li>
      <li class="open-hover">
        <div class="wrap-item">
          <img src="../images/icons/ico_web.png">

          <p>Attributi Web</p>
          <div class="submenu-home">
            <ul>
              <li ng-repeat="item in model.attributes.menu">
                <a href="#" ng-click="item.onClick()">
                  {{item.label}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--
<footer class="js-footer-wrap">
  <div class="footer-wrap">
    <div class="container"></div>
  </div>
</footer>
-->
