<div class="container">
  <div class="breadcrumb-container mb-10 mt-10 hidden-xs"><a href="#" class="active normal-text">Home</a> <a href="#"
                                                                                                             class="active normal-text">Promozioni</a>
    <span class="normal-text">PROMO ID1 Bene Fisico</span></div>
</div>
<div class="container"><h2 class="title-section">Ricerca</h2></div>
<div class="container clearfix">
  <form>
    <div class="form-wrapper">
      <div class="form-fieldset"><label class="form-label">Lorem ipsum</label><input type="text" class="form-control">
      </div>
      <div class="form-fieldset"><label class="form-label">Lorem ipsum</label><input type="text" class="form-control">
      </div>
      <div class="form-fieldset"><label class="form-label">Lorem ipsum</label><input type="text" class="form-control">
      </div>
      <div class="form-fieldset has-error"><label class="form-label">Lorem ipsum</label>
        <input type="text" class="form-control"><label
        class="text_error"><img src="https://img.tim.it:443/img/ico_info_red.png">
          Il campo non può essere vuoto</label>
      </div>
      <div class="form-fieldset"><label class="form-label">Lorem ipsum</label><input type="text" class="form-control">
      </div>
      <div class="form-buttons"><input type="submit" class="btn-primary"></div>
    </div>
  </form>
</div>
<div class="container"><h2 class="title-section">Titolo</h2></div>
<div class="container margin-bottom-40">
  <div class="wrapper-app">
    <div class="datatable-wrap" layout="column" ng-controller="dataTableController">
      <md-content layout="column">
        <div ng-include="'app/templates/advanced-table.html'"></div>
      </md-content>
      <br><br><br>
      <md-content layout="column">
        <div ng-include="'app/templates/simple-table.html'"></div>
      </md-content>
    </div>
  </div>
</div>
<footer class="js-footer-wrap">
  <div class="footer-wrap">
    <div class="container"></div>
  </div>
</footer>
